---
layout: default
---


<style type="text/css">
body{
 direction:rtl;
}
</style>
sidebar:
    about: False # set to False or comment line if you want to remove the "how to use?" in the sidebar
    education: False # set to False if you want education in main section instead of in sidebar

    # Profile information
    name: فریبا محمدی پور
    tagline: متخصص شبکه های کامپیوتری
    avatar: profile.png  #place a 100x100 picture inside /assets/images/ folder and provide the name of the file below
    
    Information:
      - idiom: آبان 1371
        level: تاریخ تولد

      - idiom: متاهل
        level: وضعیت تاهل
        
      - idiom: تهران،ایران
        level: محل تولد
        
    # Sidebar links
    email: faribampr@gmail.com
    website: fmohammadipour.github.io/ #do not add http://
    linkedin: fariba-mohammadipour
    github: fmohammadipour
    goodreads: # Number-Username, e.g. 123456-alandoe

    languages:
      - idiom: فارسی
        level: زبان مادری

      - idiom: انگلیسی
        level: تسلط کامل

      - idiom: آلمانی
        level: تعاملات روزمره
       
      - idiom: ترکی
        level: تعاملات روزمره

    #interests:
    #  - item: Guitar
     #   link:

     # - item: Basketball
      #  link:

       #- item: Biking
#        link:

career-profile:
    title: درباره من
    summary: |
     متن تستی
     
     also you can check me out on quera : https://quera.ir/profile/faribampr
      
news:
   title: دوره های گذرانده شده توسط من
   intro: |
        
    
   posts:
       - time: 2012
         title: Network+
         
       - time: 2013
         title: LPIC1
        
       - time: 2014
         title: SQL Server Design and Administration
          
       - time: 2015
         title: Microsoft Exchange 2013
          
       - time: 2015
         title: Lync Server 2013
          
       - time: 2015
         title: Kerio Control
          
       - time: 2019
         title: Microsoft Exchange 2019         
          
       - time: 2019
         title: Microsoft Skype For Business 2019
         
       - time: 2019
         title: Microsoft Private Cloud ( Azure )        
         
       - time: 2019
         title: CCNA       

education:
    - degree: کارشناسی ارشد - مهندسی نرم افزار
      university: پیام نور تهران شمال
      time: در حال تحصیل
      details: |
     
    - degree: کارشناسی- علوم کامپیوتر
      university: شهید بهشتی
      time: 1390 الی 1394
      details: |

experiences:
    - role: کارشناس فناوری اطلاعات و شبکه های کامپیوتری
      time: 1391 تا کنون
      company: شرکت رامین ارتباط
      #details: |
        #Describe your role here lorem ipsum dolor sit amet, consectetuer
        #adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
        #Cum sociis natoque penatibus et magnis dis parturient montes,
        #nascetur ridiculus mus. Donec quam felis, ultricies nec,
        #pellentesque eu, pretium quis, sem. Nulla consequat massa quis
        #enim. Donec pede justo. Sed ut perspiciatis unde omnis iste natus
        #error sit voluptatem accusantium doloremque laudantium, totam rem
        #aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
        #architecto beatae vitae dicta sunt explicabo.

          #- Bullet point
          #- Bullet point
    - role: مدیر فناوری اطلاعات
      time: 1395 الی 1399
      company: Rayancollege institute, Tehran, Iran
      #details: |
        #Describe your role here lorem ipsum dolor sit amet, consectetuer
        #adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
        #Cum sociis natoque penatibus et magnis dis parturient montes,
        #nascetur ridiculus mus. Donec quam felis, ultricies nec,
        #pellentesque eu, pretium quis, sem.

          #- Bullet point
          #- Bullet point
          
    - role: مدیرعامل
      time: 1399 تا کنون
      company: آموزشگاه رایان کالج
      #details: |
        #Describe your role here lorem ipsum dolor sit amet, consectetuer
        #adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
        #Cum sociis natoque penatibus et magnis dis parturient montes,
        #nascetur ridiculus mus. Donec quam felis, ultricies nec,
        #pellentesque eu, pretium quis, sem.

          #- Bullet point
          #- Bullet point

{% assign career-profile = site.data.data.career-profile %}
{% if career-profile %}
<section class="section summary-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-user fa-stack-1x fa-inverse"></i>
    </span>
    {{ career-profile.title }}
  </h2>

  <div class="summary">
    {{ career-profile.summary | markdownify }}
   
  </div><!--//summary-->
    
</section><!--//section-->
{% endif %}



{% unless site.data.data.sidebar.education %}
{% assign education = site.data.data.education %}
{% if education %}
  {% if site.data.data.sidebar.education %}
  <div class="education-container container-block">
    <style type="text/css">
    body{
     direction:rtl;
        }
    </style>
    <h2 class="container-block-title">
      تحصیلات
    </h2>

    {% for graduation in education %}
    <div class="item">
      <h4 class="degree">{{ graduation.degree }}</h4>
      <h5 class="meta">{{ graduation.university }}</h5>
      <div class="time">{{ graduation.time }}</div>
    </div><!--//item-->
    {% endfor %}

  </div><!--//education-container-->
  {% else %}
  <section class="section educations-section">

    <h2 class="section-title">
      <span class="fa-stack fa-xs">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-graduation-cap fa-stack-1x fa-inverse"></i>
      </span>
      Education
    </h2>

    {% for graduation in education %}
    <div class="item">

      <div class="meta">

        <div class="upper-row">
          <h3 class="degree">{{ graduation.degree }}</h3>
          <div class="time">{{ graduation.time }}</div>
        </div><!--//upper-row-->

        <div class="university">{{ graduation.university }}</div>
      </div><!--//meta-->

      {% if graduation.details %}
      <div class="details">
        {{ graduation.details | markdownify }}
      </div><!--//details-->
      {% endif %}

    </div><!--//item-->
    {% endfor %}

  </section><!--//section-->
  {% endif %}
{% endif %}
{% endunless %}


{% assign news = site.data.data.news %}
{% if news %}
<section class="section publications-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
    {{ news.title }}
  </h2>

  {% if news.intro %}
  <div class="intro">
    {{ news.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}

  {% for post in news.posts %}
  <div class="item">
    <div class="publication-authors">{{ post.time }}</div>
    <div class="publication-title">{{ post.title }}</div>
  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}

{% include publications.html %}

{% include educationcomplete.html %}

{% assign experiences = site.data.data.experiences %}
{% if experiences %}
<section class="section experiences-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-briefcase fa-stack-1x fa-inverse"></i>
    </span>
    Experiences
  </h2>

  {% for experience in experiences %}
  <div class="item">

    <div class="meta">

      <div class="upper-row">
        <h3 class="job-title">{{ experience.role }}</h3>
        <div class="time">{{ experience.time }}</div>
      </div><!--//upper-row-->

      <div class="company">{{ experience.company }}</div>

    </div><!--//meta-->

    {% if experience.details %}
    <div class="details">
      {{ experience.details | markdownify }}
    </div><!--//details-->
    {% endif %}

  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}

{% include projects.html %}

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-98375828-1', 'auto');
  ga('send', 'pageview');
</script>
